* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    overflow-x: hidden;
    }
body {
    background-color: #120c18;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}
    /* pageBody */
.backdrop {
    background-color: #120c18;
    /* background-color:#08090d; */
}

/* pageBody END */
/* top and side navBars */
.notTopNav {
    margin-top: 80px;
}

hr{
    height:2px;
    border-width:0;
    width: 90%;
    color:#25192f;
    background-color:#25192f;
    opacity:1;
}


@media screen and (min-width:1200px) {
    .not-sidenav-parent {
        position:relative; 
        padding-left: 280px;
        /* width:max-content; */
        margin:auto;
        
    }
}

@media screen and (max-width:1199px) {
    .not-sidenav-parent {
        padding-left: 30px;
        padding-right: 30px;
        /* width:max-content; */
        margin:auto;
    }
}

hr {
    background-color: #32263f;
}

.light-text {
    color: #fefffe;
}

.light-text:hover {
    color:#fefffe;
}


.signin-brand {
    filter:brightness(100%)
}

.topnav-brand {
    filter: brightness(100%);
}

.topnav-brand:hover {
    filter: brightness(80%);
}

.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.vertical-center {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
margin-left: 0;

}

/* top and side navBar END */

/* homepageCarousel */




@media screen and (min-width:1200px){
.homepageCarou {
    background-color: #120c18;
    height: 600px;
    outline: 1px solid #25192f;
    border-radius: 20px;
    width: 65vw;
    margin-top: 1px;
}
}

@media screen and (max-width:1199px) {
    .homepageCarou {
        background-color: #120c18;
        height: 600px;
        outline: 1px solid #25192f;
        border-radius: 20px;
        width: 90vw;
        margin-top: 1px;
    }

}
.carou-border{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.carousel-inner {
    align-items: center;
    height:inherit; 
    border-radius: 20px;
}

.carousel-item{
    height:inherit;
}


@media screen and (min-width:768px){
    .height-inherit {
        height:inherit;
    }    
}




.glow-on-hover {
width: 100px;
height: 100%;
border: none;
outline: none;
color:  #fefffe;
background: #e42474;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
}
.glow-on-hover:before {
content: '';
background: linear-gradient(45deg, #e42474, #7a00ff, #ff00c8);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s linear infinite;
opacity: 0;
transition: opacity .3s ease-in-out;
border-radius: 10px;
}

.glow-on-hover:active {
    color: #e42474;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e42474;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.signin-on-hover {
    width: 100px;
    height: 100%;
    color:  #fefffe;
    background: #120c18;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 1px solid #e42474;
    border-radius: 500px;
}
.signin-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #e42474, #7a00ff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 500px;
}

.signin-on-hover:active {
    color:#fefffe;
}

.signin-on-hover:active:after {
    background: transparent;
}

.signin-on-hover:hover:before {
    opacity: 1;
}

.signin-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #120c18;
    left: 0;
    top: 0;
    border-radius: 500px;

    
}

.register-on-hover {
    width: 100px;
    height: 100%;
    /* border: none;
    outline: none; */
    color:  #fefffe;
    background: #e42474;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 500px;
}
.register-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #e42474, #7a00ff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 500px;
}

.register-on-hover:active {
    color: #e42474;
}

.register-on-hover:active:after {
    background: transparent;
}

.register-on-hover:hover:before {
    opacity: 1;
}

.register-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e42474;
    left: 0;
    top: 0;
    border-radius: 500px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.cc1 {
    background-image:  url("../cyberpunk.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    background-blend-mode: saturation;
    
    
}
/* homepageCarousel END */

.modal-open[style] {
    padding-right: 0px !important;
    }

.offcanvas-backdrop {
    background-color:unset;
}