html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    }
.backdrop {
    background-color: #120c18
    /* background-color:#08090d; */
}
.notTopNav {
    margin-top: 80px;
}


.not-sidenav-parent{
    position:relative; 
    left:250px;
}
.light-text {
    color: #fefffe;
}

header {
    height: 80px;
    background-color: #120c18;
}
.headerfixed {
    position:fixed;
    z-index: 99;
    padding:0;

}

.center {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.vertical-center {
margin: 0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
margin-left: 0;

}